@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Ch11_02_Sorting.Models
@model IndexViewModel
<!--импортируем tag-хелперы проекта-->
@addTagHelper *, Ch11_02_Sorting

<style>
    td, th {
        padding: 0 13px 0 0;
    }

    .glyphicon {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin: 0 5px;
    }

    .glyphicon-chevron-down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .glyphicon-chevron-up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
</style>

<h1>Список пользователей</h1>
<table class="table">
    <tr>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up"
                         current="@Model.SortViewModel.Current" property="@Model.SortViewModel.NameSort">
                Имя
            </sort-header>
        </th>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up"
                         current="@Model.SortViewModel.Current" property="@Model.SortViewModel.AgeSort">
                Возраст
            </sort-header>
        </th>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up"
                         current="@Model.SortViewModel.Current" property="@Model.SortViewModel.CompanySort">
                Компания
            </sort-header>
        </th>
    </tr>
    @foreach (User u in Model.Users)
    {
        <tr><td>@u.Name</td><td>@u.Age</td><td>@u.Company?.Name</td></tr>
    }
</table>
